[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.devnet]
simcity_build = "6U4BoX8jTdsJca3N6B1H42x4NkCeMVV667QkDBV8bdKq"

[programs.localnet]
simcity_build = "6U4BoX8jTdsJca3N6B1H42x4NkCeMVV667QkDBV8bdKq"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bun run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
